<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Lesson</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="body_addLessons">
<h1>Add new lesson</h1>
<form method="post" action="/add/lesson" >
    Title: <input type="text" name="title"> <br>
    Duration: <input type="time" name="duration"><br>
    Price: <input type="number" name="price"><br>
    Start Date: <input type="date" name="startDate">
    <input type="submit" value="add">
</form>
</body>
</html>
