<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="body_lessons">

<a href="/user/profile">My Profile</a>
<table>
    <tbody th:unless="${usersByType != null and not  #lists.isEmpty(users)}">
    <tr>
        <td colspan="8">No users found</td>
    </tr>
    </tbody>
    <thead>
    <tr>
        <th>User Id</th>
        <th>Picture</th>
        <th>Name</th>
        <th>Email</th>
        <th>Lessons</th>
        <th>User Type</th>
    </tr>
    </thead>
    <tbody th:if="${usersByType != null and not #lists.isEmpty(usersByType)}">
    <tr th:each="user : ${usersByType}">
        <th th:text="${user.id}"></th>
        <th> <img th:if="${user.getPicName() != null}" th:src="@{/getImage(picName=${user.picName})}" width="40"/>
            <img th:if="${user.getPicName() == null}" src="/img/user.png" width="20"/>
        </th>
        <th th:text="${user.name}"></th>
        <th th:text="${user.email}"></th>
        <th th:text="${user.lesson.size()}"></th>
        <th th:text="${user.userType}"></th>
    </tr>
    </tbody>
</table>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
</body>
</html>
